*{
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
}

body{
    background-color: rgba(242, 242, 242, 0.578);
    font-family: "Poppins", sans-serif;
    font-weight: 400;
    font-style: normal; 
}

header{
    width: 20%;
    height: 100%;
    /* background: linear-gradient(180deg, #c70014,rgb(255, 1, 1),rgb(197, 3, 3)); */
    background-color: #b20516;
    position: fixed;
    z-index: 5;
    top: 0;
    left: 0;
    bottom: 0;
    box-shadow: 0px 0px 15px 0px rgb(58, 58, 58);
    display: flex;
    flex-direction: column;
    align-items: center;
}

.logo{
    width: 100%;
    height: 30%;
}
.logo a{
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}
.logo p{
    color: white;
    font-size: 2rem;
    font-weight: 600;
    display: none;
}
.logo img{
    width: 55%;
    border-radius: 50%;
    box-shadow: 0px 0px 15px 0px rgb(58, 58, 58);;
}
.webTitle{
    font-size: 5rem;
}
.nav-links {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    height: 50%;
    align-items: center;
}

.nav-links a{
    text-decoration: none;
    color: white;
    font-size: 1.2rem;
    font-weight: 600;
}


.nav-links:hover > :not(:hover){
    transition: all 0.5s ease;
    opacity: 0.3;
}


#drop-down-nav img{
    position : fixed;
    right: 20px;
    top: 10px;
    width: 35px;
    height: 55px;
    opacity: 0.7;
    display: none;
}
#drop-down-nav img:hover{
    cursor: pointer;
}

main{
    /* width: 100%; */
    margin-left: 23%;
    /* position: absolute; */
    padding: 0 10px 0 0;
    /* right: 0; */
}

/* ------- top scroll button ----------*/

#go-top{
    width: 45px;
    height: 45px;
    background-color: #212121;
    position: fixed;
    bottom: 30px;
    right: 35px;
    border-radius: 30%;
    display: flex;
    align-items: start;
    justify-content: center;
    z-index: 5;
}

#go-top p{
    text-align: center;
    color: white;
    font-size: 1.9rem;
}

#go-top:hover{
    cursor: pointer;
    background-color: #181818;
    box-shadow: 0px 0px 1px 2px #b8b8b8;
}

#go-top:active{
    cursor: pointer;
    background-color: #303030;
}

/* ----------- HOME ---------- */

#home-page{
    /* width: 90%; */
    margin: 10px auto;
    padding: 100px 0 70px;
    border-bottom: 1px solid rgb(178, 176, 176);
}

#home-page h1{
    line-height: 75px;
    font-size: 3.5rem;
    font-weight: 1000;
    padding-bottom: 20px;
    text-shadow: 1px 1px 5px #c0bfbf;
}

#home-page h4{
    font-size: 1.2rem;
    width: 100%;
    color: #d20015;
    padding-bottom: 10px;
}

#home-page h4 a{
    text-decoration: none;
}

#home-page p{
    font-size: 1rem;
    width: 80%;
    color: rgb(69, 69, 69);
}

#side-nav{
    width: 0;
    height: 100%;
    max-width: 300px;
    position: fixed;
    background-color: #201f1f;
    top: 80px;
    right: 0;
    z-index: 1;
    padding-top: 60px;
    transition: width 0.5s ease;
    display: flex;
    flex-direction: column;
    gap: 30px;
    text-align: center;
    
}

#side-nav:hover > :not(:hover){
    transition: all 0.4s ease;
    opacity: 0.3;
}

#side-nav a{
    color: white;
    text-decoration: none;
    font-size: 1.2rem;
}


/* -------- IMAGE SLIDER --------- */

#recent-updates{
    padding: 50px 0px;
    border-bottom: 1px solid rgb(178, 176, 176);
    display: flex;
    flex-direction: column;
    align-items: center;
}
#recent-updates h2{
    text-align: center;
    font-size: 2rem;
    color: #d9051b;
    margin-bottom: 30px;
}

.slides{
    position: relative;
    width: 90%;
    height: 420px;
    border-radius: 8px;
}
.slide{
    overflow: hidden;
    width: 100%;
    height: 100%;
}
.slide img{
    border-radius: 8px;
    width: 100%;
    height: 100%;
    object-fit: cover;
    transition: opacity 12s ease-in-out, transform 6s ease;
}
.dots{
    text-align: center;
    position: absolute;
    bottom: 5px;
    width: 100%;
}
.dot{
    display: inline-block;
    height: 10px;
    width: 10px;
    opacity: 0.5;
    margin: 0 2px;
    border-radius: 50%;
    background-color: #cececec6;
    transition: opacity 0.3s ease;
}
.dot:hover{
    cursor: pointer;
    opacity: 0.8;
}
.dot.active{
    opacity: 1;
}
.previous, .next{
    position: absolute;
    width: auto;
    text-align: center;
    cursor: pointer;
    top: 50%;
    font-size: 20px;
    color: white;
    height: 40px;
    font-weight: 700;
    height: fit-content;
    padding: 5px 12px ;
    transition: background-color 0.3s ease ;
}
.previous:hover, .next:hover{
    background-color: #dadada81;
    color: #000000;
}
.previous:active, .next:active{
    color: white;
    background-color: unset;
}
.previous{
    left: 10px;
}
.next{
    right: 10px;
}
.seemore{
    margin-top: 20px;
    font-size: 20px;
    color: #067ebf;
    cursor: pointer;
    text-decoration: none;
}
.seemore:hover{
    color: #024160;
}

/* ------- research areas --------*/

#research-areas{
    /* width: 80%; */
    margin: 0 auto;
    padding: 100px 0px 50px;
    border-bottom: 1px solid rgb(178, 176, 176);
}

#research-areas h2{
    text-align: center;
    font-size: 2rem;
    color: #d9051b;
    margin-bottom: 30px;
}

.area{
    margin:0 50px 12px;
}

.research-head{
    transition: display 0.5s ease;
    width: 100%;
    height: fit-content;
    background-color: #dededec0;
    padding: 5px 10px;
    border-radius: 12px;
    display: flex;
    justify-content: space-between;
    pointer-events: auto;  
    visibility: visible;   
}

.research-head p{
    height: 100%;
    padding: 2px;
    float: left;
}
.scollable{
    height: 320px;
    overflow-y: scroll;
    padding: 15px 8px 15px 30px;
}

.research-head p img{
    margin-top: 0px;
    width: 25px;
    height: 20px;
}

.area-content{
    padding: 15px 8px 15px 30px;
    display: block;
    background-color: #3a3a3a;
    margin: 0px 10px 5px;
    color: #ffffff;
    border-radius: 0 0 8px 8px;
    padding-left: 30px;
    font-size: 0.95rem;
}

.research-head:hover{
    cursor: pointer;
}

.area-content ol{
    font-weight: 500;
}
.area-content ol a{
    color:rgb(157, 208, 250);
}

.area-content ol ol{
    padding: 10px 5px 8px 18px;
    color: #1b1a1a;
    margin-bottom: 4px;
    list-style-type: lower-roman;
    font-size: 0.85rem;
    background-color: #e4e4e4;
    border-radius: 8px
}
.area-content ol ol li{
    margin-bottom: 2px;
}

.area-content ol ol ol{
    margin-left: 20px;
    color: #0c524d;
    margin-bottom: 4px;
    list-style-type: lower-alpha;
    font-size: 0.8rem;
}

.area-content ol li{
    margin-bottom: 5px;
}
.hidden{
    display: none;
}


/* ----------- people ----------*/

#people{
    /* width: 85%; */
    margin: 20px auto;
    padding: 100px 0 40px ;
    border-bottom: 1px solid rgb(178, 176, 176);
}

#people h2{
    font-size: 2rem;
    text-align: center;
    margin-bottom: 20px;
    color:#d20015;
}

.cards{
    width: 100%;
    margin: 15px 0 ;
    display: flex;
    justify-content: center;
    gap: 15px;
    flex-wrap: wrap;
}

.lectures, .students, .collaborators{
    text-align: center;
    margin-bottom: 25px;
}

.card{
    max-width: 150px;
    min-width: 120px;
    border: 1px solid rgb(138, 136, 136);
    border-radius: 8px;
    background-color: rgb(233, 229, 229);
    box-sizing: border-box;
}

.image img{
    border-radius: 8px;
    width: 100%;
}



.details{
    width: 100%;
    padding: 5px;
}

.details p{
    margin-top: 5px;
    color: rgb(71, 70, 70);
    width: 93%;
    text-align: left;
    font-size: 0.8rem;
    margin-bottom: 8px;
}

.details img{
    width: 20px;
    float: left;
    vertical-align: bottom;
    margin-bottom: 8px;
    margin-left: 5px;
}

/* ----------- references ----------- */

#references{
    /* width: 80%; */
    margin: 0px auto;
    padding: 100px 20px 50px 10px;
    border-bottom: 1px solid rgb(178, 176, 176);
}

#references h2{
    color: #d20015;
    text-align: center;
    margin-bottom: 20px;
    font-size: 2rem;
}

.source{
    width: fit-content;
    margin: 0 0 8px 0;
}

.source p{
    padding-left: 25px;
    color: #2e2d2d;
    font-size: 0.9rem;
}
.viewBox{
    height: 420px;
    overflow-y: scroll;
    padding: 15px 5px 15px 20px;
}

/* --------- JOIN US ---------- */
#joinUs{
    padding: 100px 0;
    border-bottom: 1px solid rgb(178, 176, 176);
}

#joinUs h2{
    color: #d20015;
    text-align: center;
    margin-bottom: 30px;
    font-size: 2rem;
}

.joinUs-initial p{
    color: #414141;
}

#joinUs p, #joinUs li{
    margin-bottom: 10px;
}

#joinUs p a{
    color: #b20516;
    text-decoration: none;
    font-weight: 600;
}

#joinUs p a:hover{
    text-decoration: underline;
}

.whyToJoin, .howToJoin{
    margin-top: 30px;
}

.howToJoin h4{
    margin-bottom: 10px;
}

.whyToJoin ul{
    color: #414141;
    margin-left: 10px;
    list-style-type: square;
}

#joinUs .viewBox{
    height: fit-content;
    overflow: scroll;
    padding: 15px 5px 5px 20px;
    font-size: 0.9rem;
}

.howToJoin ul{
    color: #414141;
    margin-left: 25px;
    list-style-type: none;
}

.emailLink a{
    text-decoration: none;
    color: #b20516;
}

.whatsappLink a{
    display: flex;
    align-items: center;
    gap: 10px;
}

.whatsappLink a{
    text-decoration: none;
    color: rgb(22, 185, 22);
}
.whatsappLink a:hover{
    text-decoration: underline;
}
.motto{
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    margin: 30px 0 20px;
    border-left: 5px solid #b20516;
    background-color: #eaeaea;
    padding: 15px 0 10px;
    color: #067ebf;
}
.motto p{
    color: rgb(33, 106, 167)
}
.joinUs-para p{
    color: #414141;
}

/* ---------- WEB MASTERS -------- */
#webmasters{
    padding: 100px 0;
}
#webmasters a{
    text-decoration: none;
    color: #b20516;
}
#webmasters a:hover{
    text-decoration: underline;
}
#webmasters h2{
    color: #d20015;
    text-align: center;
    margin-bottom: 30px;
    font-size: 2rem;
}
.webmasters-info{
    color: #414141;
    margin-bottom: 15px;
}
.webUpdateDate{
    color: #414141;
    font-weight: 600;
    margin-bottom: 15px;
}
.concerns{
    color: #414141;
}



/* -------- FOOTER -----------*/

footer{
    margin-left: 20%;
    text-align: center;
    background-color: rgba(128, 128, 128, 0.682);
    min-width: 310px;
    padding-bottom: 10px;
}

.footer-about{
    padding: 20px 0;
}
.footer-about h2{
    margin-bottom: 15px;
    font-size: 1.8rem;
}

.footer-about a{
    color: white;
    text-decoration: none;
}

.socials{
    height: 40px;
    margin-bottom: 15px;
}

.socials img{
    width: 35px;
    margin: 0px 10px;
}

.contact{
    font-size: 0.9rem;
    width: 100%;
    margin: 20px 0 15px;
}

.contact p{
    margin-top: 4px;
}

.copyright p{
    font-size: 0.8rem;
}

/* -----  updates ------ */
.updates{
    margin: 10px auto;
    padding: 100px 20px 50px 10px;
}
.updates div{
    background-color: #adc1cc;
    height: 500px;
}


@media (max-width: 1024px){   
    #home-page h1{
        font-size: 55px;
    }
    #home-page h4{
        font-size: 18px;
    }

    
}

@media (max-width: 950px){
    .nav-links{
        display: none;
    }
    main{
        width: 85%;
        padding: 0;
        margin: auto;
    }
    #drop-down-nav img{
        display: inline-block;
    }
    header{
        width: 100%;
        height: 80px;
        flex-direction: row;
        justify-content: space-between;
        padding: 0 15px;       
    }
    .logo{
        width: 70px;
        display: flex;
        align-items: center;
        gap: 10px;
    }
    .logo img{
        width: 60px;
    }
    .logo p{
        display: block;
    }
    footer{
        width: 100%;
        margin: auto;
    }
    #references{
        padding-left: 10px;
        padding-right: 0;
    }
    #home-page{
        padding-left: 0;
        padding-right: 0;
    }
    #home-page h1{
        font-size: 2.3rem;
        line-height: unset;
    }
    .slides{
        height: 350px;
    }
}


@media (max-width: 768px){
    .webTitle{
        font-size: 4rem;
    }
    #home-page h4{
        font-size: 15px;
    }
    #home-page p{
        font-size: 14px;
    }
    #home-page h1{
        font-size: 2rem;
        line-height: unset;
    }
    #references h4{
        font-size: 0.9rem;
    }
    #references p{
        font-size: 0.8rem;
    }
    .source p{
        padding-left: 10px;
    }
    .area{
        margin:0 0px 12px;
    }
    .card{
        max-width: 130px;
    }
    #joinUs .viewBox{
        height: 300px;
        overflow: scroll;
        padding: 15px 5px 5px 20px;
        font-size: 0.9rem;
    }
    .slides{
        height: 300px;
        width: 100%;
    }
    
}

@media (max-width: 445px){
    main{
        width: 90%;
    }
    .webTitle{
        font-size: 2.5rem;
    }
    #home-page{
        padding-top: 140px;
    }
    #home-page h1{
        font-size: 20px;
    }
    #home-page h4{
        font-size: 13px;
        width: 90%;
    }
    #home-page p{
        font-size: 12px;
        width: 90%;
    }
    .card{
        width: 140px;
    }
    .area{
        margin:0 0 12px;
    }
    .research-head h3{
        font-size: 1rem;
    }
    #research-areas h2, #peoples h2, #references h2,.footer-about h2, #joinUs h2, #webmasters h2, #recent-updates h2 {
        font-size: 1.6rem;
    }
    #joinUs p{
        font-size: 0.9rem;
    }
    #webmasters p{
        font-size: 0.9rem;
    }
    #joinUs p, .howToJoin li{
        font-size: 0.8rem;
    }
    .slides{
        height: 200px;
    }
}

@media (max-width: 375px){
    #home-page{
        padding-top: 130px;
    }
    #home-page h1{
        font-size: 22px;
        line-height: unset;
    }
    .card{
        width: 130px;
    }
}

